.mainContainer-projects{
   margin-top: 3rem;
   text-align: center;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.mainContainer-projects h1{
    font-size: 2.5rem;
    margin-bottom: 2rem;

}
 .flexBox {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}
.flexItem{
    width: 300px;
}
.flexItem img{
    border-radius: 5px;
    margin-bottom: 1rem;
}
.flexItem h2{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 0; 
    margin-bottom: 0; 
}
.flexItem p{
    margin-top: 0;
    margin-bottom: 2rem;
}
.iconWrapper img{
    width: 25px;
    border: 1px solid #38B2AC;
    border-radius: 10px;
    padding: 5px;
}
.iconWrapper a :hover{
    background-color: #1e91f6;
}
.iconWrapper{
    margin-top: 10px;
    display: flex;  
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.projectImg{
    width: 200px;
    height:200px;  
}

